 #contentContainer {
   margin-top: 30px;
     position: relative;
 }

 footer {margin-bottom: 0;}


 pre {
     counter-reset:line;
 }

pre span {
    display: block;
}

span.lineOfCode::before {
    width: 2.5em;
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888;
    align: right;
}

pre a {
    display: block;
}

.block1{
    border: 1px solid #d39e00;
    background-color: #ffeeba;
}

.block2 {
    border: 1px solid #0056b3;
    background-color: #b3d7ff;
}